* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
	width: 80%;
	margin: auto;
	height: 40vh;
}

body {
    font-family: "Nunito", sans-serif;
    background: #f8f8f8;
}

.input {
    text-align: center;
    margin: 100px auto;
}

input[type="submit"] {
    padding: 15px 30px;
    background: #56cfff;
    border: none;
    border-radius: 1px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #2a3f95;
}

.input input[type="text"] {
    width: 80%;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card {
    width: 90%;
    background: #e7e7e7;
    height: auto;
    margin: 50px auto;
    border-radius: 2px;
	padding: 20px 0;
}

.close {
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
}

.card h1 {
    padding: 5px 0;
    text-align: center;
}

.card p {
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}

/*
Colours:
Black: #161616
Blue1: #2a3f95
Blue2: #56cfff
Yellow1: #d3fc78
Yellow2: #e2b72c
*/