#map {
    width: 30%;
    margin: 10%;
    height: 50%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url('images/bg_index.jpg');
    background-size: cover;
    background-position: top center;
    justify-content: left;
}

.app-wrap {
    /*display: flex;
    flex-direction: column;*/
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
    /*display: flex;*/
    justify-content: left;
    align-items: left;
    padding: 50px 15px 15px;
    padding-left: 15%;
}

header input {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.location .city {
    padding-left: 17.5%;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #FFF;
    font-size: 16px;
    padding-left: 16.5%;
}

.current .temp {
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    padding-left: 17.5%;
}

.current .temp span {
    font-weight: 500;
}

.current .wind {
    color: #FFF;
    font-size: 102px;
    font-weight: 90;
    margin: 30px 0px;
    padding-left: 9%;
}

.current .weather {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    padding-left: 20%;
}

.current .hi-low {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20.5%;
}


/*
Colours:
Black: #161616
Blue1: #2a3f95
Blue2: #56cfff
Yellow1: #d3fc78
Yellow2: #e2b72c
*/