* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    width: 80%;
    margin: auto;
    height: 40vh;
}

body {
    font-family: "Nunito", sans-serif;
    background: #f8f8f8;
}

.input {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

.submit {
    width: 20%;
    background: #56cfff;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    padding: 1%;
}

.submit:hover {
    background: #2a3f95;
}

.input_text {
    width: 80%;
    height: 55px;
    background: #e7e7e7;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card {
    width: 90%;
    background: #e7e7e7;
    height: auto;
    margin: 50px auto;
    border-radius: 2px;
    padding: 20px 0;
}

.close {
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
}

.card h1 {
    padding: 5px 0;
    text-align: center;
}

.card p {
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}


/*
Colours:
Black: #161616
Blue1: #2a3f95
Blue2: #56cfff
Yellow1: #d3fc78
Yellow2: #e2b72c
*/